.about {
  padding: 48px 0 63px;
  scroll-margin-top: 2em;
}

.about__title {
  width: 121px;
  margin: 0 auto;
}

.about__title::after {
  display: block;
  content: "";
  background-color: rgba(0, 164, 229, 1);
  height: 2px;
  width: 50px;
  margin: auto;
  margin-top: 11px;
  transition: 0.7s;
}

.about__title:hover::after {
  width: 100%;
  display: block;
  content: "";
  background-color: rgba(0, 164, 229, 1);
  height: 2px;
  margin-top: 11px;
  transition: 0.7s;
}

.about__mixbox {
  height: 225px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 77px;
}

.textbox {
  width: 405px;
  height: 226px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.textbox__top {
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  height: 81px;
  width: 405px;
}
.about__oneword {
  color: rgba(0, 164, 229, 1);
}

.fotobox {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.foto__we {
  width: 143px;
  text-transform: uppercase;
  padding: 15px 0 0 15px;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.plan {
  background-image: url(../images/weplan.png);
  background-repeat: no-repeat;
}

.manage {
  background-image: url(../images/wemanage.png);
  background-repeat: no-repeat;
}

.build {
  background-image: url(../images/webuild.png);
  background-repeat: no-repeat;
}
