* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "OpenSans", sans-serif;
  color: rgba(72, 85, 91, 1);
  border-color: rgba(230, 230, 230, 1);
}
header {
  color: rgba(255, 255, 255, 1);
}

/* rgba(0, 164, 229, 1)  цвет ховета и ссылок*/

.conteiner {
  max-width: 940px;
  margin: 0 auto;
}

h1 {
  font-family: "BebasNeue", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 10px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

p {
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  display: block;
}

a:hover {
  color: rgba(0, 164, 229, 1);
}

img {
  display: block;
  pointer-events: none;
  width: 100%;
  height: auto;
}

@media (max-width: 1000px) {
  .conteiner {
    max-width: 90%;
  }
}
