.services {
  padding: 63px 0 115px;
  scroll-margin-top: 2em;
}

.services__top {
  height: 41px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 76px;
}
.top__mix {
  display: flex;
  gap: 31px;
}

.sevices__title {
  transition: 0.7s;
}

.sevices__title::after {
  display: block;
  content: "";
  background-color: rgba(0, 164, 229, 1);
  height: 3px;
  width: 50px;
  margin-top: 11px;
}

.sevices__title:hover::after {
  width: 100%;
  display: block;
  content: "";
  background-color: rgba(0, 164, 229, 1);
  height: 3px;
  margin-top: 11px;
  transition: 0.7s;
}

.title__text {
  width: 405px;
  font-size: 11px;
  line-height: 19px;
}
.title__link {
  width: 150px;
  height: 40px;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  background-color: rgba(0, 164, 229, 1);
  color: rgba(255, 255, 255, 1);
  padding: 11px 0 11px;
  text-align: center;
}
.title__link:hover {
  color: rgba(72, 85, 91, 1);
}
.services__mixbox {
  display: flex;
  justify-content: space-between;
}
.mixbox__info {
  width: 295px;
  border: 1px solid rgba(230, 230, 230, 1);
  padding: 38px 22px 39px 23px;
}

.mixbox__pic {
  width: 70px;
  height: 75px;
}
.mixbox__title {
  height: 48px;
  width: 250px;
  margin: 25px 0 13px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}
.mixbox__text {
  height: 92px;
  width: 250px;
}
